@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

// Variables
$montserrat: 'Montserrat', sans-serif;
$nineteen-seventies-horror-yellow: #dbdb56;

h1 {
  font-family: $montserrat;
  font-weight: 700;
  color: $nineteen-seventies-horror-yellow;
  font-size: 4em;
}

.text-subtitle {
  color: white;
  font-family: $montserrat;
  font-weight: bold;
  text-shadow: -2px -2px 14px rgb(202, 200, 200);
  font-size: 1.7em;
}

.text-credits {
  color: #faf2f2;
  font-family: "Helvetica Neue";
  font-weight: 200;
  font-size: 1em;
  line-height: 1.5em;
}